@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

html, body {
    width: 100%;
}

.mainContainer {
  width: 100%;
}

.left {
    @include table();
    width: 50%;
    float: left;
}

.right {
    @include table();
    width: 50%;
    float: right;
    
}
